html
    head
        title= title
        link(rel="stylesheet", href="/css/styles.css")
        h1= "THE MESSAGE BOARD"
    body
        nav
            each navOption in navOptions
                if navOption.show
                    a(href=navOption.path)=navOption.name
        div(class="accountDetails")
            h1(id="myH1")= title
            p= "Welcome to your account details."
            img(src=currentUser.avatarImg)
            br
            label Username: 
            span #{currentUser.username}
            br
            label Email: 
            span #{currentUser.email}
            br
            label Age: 
            span #{currentUser.age}
            br
            label Role: 
            span #{currentUser.type}
            br
            br
            a(href='/editAccountDetails') Edit
        script(src="/js/scripts.js")