html
    head
        title= title
        link(rel="stylesheet", href="/css/styles.css")
    body
        nav
            each navOption in navOptions
                if navOption.show
                    a(href=navOption.path)=navOption.name
        div(class="accountDetails")
            h1(id="myH1")= title
            p= "Welcome to your account details."
            ul
                img(src=currentUser.avatar_img)
                li= "Username: " + currentUser.username
                li= "Email: " + currentUser.email
                li= "Age: " + currentUser.age
                li= "Role: " + currentUser.type
            a(href='/user/editAccountDetails') Edit
        script(src="/js/scripts.js")