html
  head
    title= title
    link(rel="stylesheet", href="/css/styles.css")
  body
    div(class='createAccount')
      h1(id="myH1")= title
      p= 'Enter the information below to create your new account!'
      form(id='form', method='post', action='/createAccount')
        label New Username:
        br
        input(type='text', name='newUsername')
        span= usernameError
        br
        label Email:
        br
        input(type='email', name='email')
        span= emailError
        br
        label Profile Picture
        br
        input(type='url', name='image')
        span= picError
        br
        label Age:
        br
        input(type='text', name='age')
        span=ageError
        br
        label Role:
        span=typeError
        br
        span User
        input(type='radio', name='type', value='user')
        br
        span Admin
        input(type='radio', name='type', value='admin')
        br
        label New Password:
        br
        input(type='password', name='newPass')
        span= passError
        br
        label Confirm Password:
        br
        input(type='password', name='confirmPass')
        span= confirmError
        input(type='submit', value='Create Account')
  script(src="/js/scripts.js")