html
    head
        title= title
        link(rel="stylesheet", href="/css/styles.css")
    body
        nav
            each navOption in navOptions
                if navOption.show
                    a(href=navOption.path)=navOption.name
        div(class="editAccountDetails")
            h1(id="myH1")= title
            p= "Edit your account."
            form(id='editForm', method='post', action='/editAccountDetails')
                label Profile Picture
                br
                img(src=currentUser.avatar_img)
                br
                input(type='url', name='newpfp', value=currentUser.avatar_img)
                br
                label Username:
                br
                input(type='text', name='newUsername', value=currentUser.username)
                br
                label Email:
                br
                input(type='email', name='newEmail', value=currentUser.email)
                br
                label Age:
                br
                input(type="text", name='newAge', value=currentUser.age)
                br
                label Role: #{currentUser.type}
                br
                span User
                input(type='radio', name='type', value='user')
                br
                span Admin
                input(type='radio', name='type', value='admin')
                br
                input(type='submit', value='Update')
        script(src="/js/scripts.js")