html
    head
        title= title
        link(rel="stylesheet", href="/css/styles.css")
    body
        nav
            each navOption in navOptions
                if navOption.show
                    a(href=navOption.path)=navOption.name
        div(class="editPost")
            h1(id="myH1")= title
            p= "Edit your post."
            form(id='form', method='post', action='/editPost')
                label Post Subject:
                input(type='text',name='originalName', value=currentPost.title, readonly)
                br
                input(type='text', name='editSubject', value=currentPost.title)
                br
                label Body:
                br
                textarea(id='content', name='editThread', placeholder=currentPost.body)
                //- input(type='text', name='editThread', value=currentPost.body)
                br
                input(type='submit', value='Update')
        script(src="/js/scripts.js")