html
    head
        title= title
        link(rel="stylesheet", href="/css/styles.css")
    body
        nav
            each navOption in navOptions
                if navOption.show
                    a(href=navOption.path)=navOption.name
        div(class="index")
            h1(id="myH1")= title
            p= "Welcome to the Messages of the World!"
            div(class='threads')
                each thread in threads
                    div(class="post")
                        a(class="postTitle" href="/post/" + thread.title) #{thread.title}
                        p Date Posted: #{thread.date_posted}
                        p By: #{thread.createdBy}
                        p #{thread.body}
        script(src="/js/scripts.js")