html
    head
        title= title
        link(rel="stylesheet", href="/css/styles.css")
    body
        nav
            each navOption in navOptions
                a(href=navOption.path)=navOption.name
        div(class="userList")
            h1(id="myH1")= title
            each user in userList
                table
                    tr
                        th Username
                        th Email
                        th Age
                        th Role
                    tr
                        td #{users.username}
                        td #{users.email}
                        td #{users.age}
                        td #{users.type}
        script(src="/js/scripts.js")