html
    head
        title= title
        link(rel="stylesheet", href="/css/styles.css")
    body
        nav
            each navOption in navOptions
                a(href=navOption.path)=navOption.name
        div(class="userList")
            h1(id="myH1")= title
            p= "List of Users"
            div(class="userTable")
                 table
                    tr
                        th Username
                        th Email
                        th Age
                        th Role
                    each user in userList
                            tr
                                td #{user.username}
                                td #{user.email}
                                td #{user.age}
                                td #{user.type}
        script(src="/js/scripts.js")