html
    head
        title= title
        link(rel="stylesheet", href="/css/styles.css")
    body
        nav
            each navOption in navOptions
                a(href=navOption.path)=navOption.name
        div(class="viewPost")
            h1(id="myH1")= title
            label Post Subject:
            br
            p
                | #{messages.title}
            br
            p
                | Posted by: #{users.avatar_img} #{users.name} on #{messages.date_posted}
            label Thread:
            br
            p
                | #{messages.body}
        script(src="/js/scripts.js")