html
    head
        title= title
        link(rel="stylesheet", href="/css/styles.css")
    body
        nav
            each navOption in navOptions
                a(href=navOption.path)=navOption.name
        div(class="viewPost")
            h1(id="myH1")= title
            label Post Subject:
            br
            p
                #{currentPost.subject}
            br
            p
                | Posted by: #{user.image} #{user.name}
            label Thread:
            br
            p
                #{currentPost.thread}
        script(src="/js/scripts.js")